{{ form_start(form, {'attr':{'data-ng-submit': 'submitForm($event)'}}) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
<button class="btn btn-primary" type="submit">Login</button>
{{ form_end(form) }}