// COLORS
$white: #fff;
$gray: #eee;

// FONT SIZES
$baseFontSize: 15px;
$largeFontSize: $baseFontSize + 1;
$largerFontSize: $baseFontSize + 2;
$largestFontSize: $baseFontSize + 5;
$smallFontSize: $baseFontSize - 2;
$smallerFontSize: $baseFontSize - 3;
$largeHeading: $baseFontSize + 10;