// COLORS
$white: #fff;
$gray: #eee;
$purple: darken(#f8d3ff, 20%);
$pink: darken(#ffd5d5, 20%);
$green: darken(#d4f5d7, 20%);
$blue: darken(#d3e4ff, 20%);
$yellow: darken(#fff7d6, 20%);

// FONT SIZES
$baseFontSize: 15px;
$largeFontSize: $baseFontSize + 1;
$largerFontSize: $baseFontSize + 2;
$largestFontSize: $baseFontSize + 5;
$smallFontSize: $baseFontSize - 2;
$smallerFontSize: $baseFontSize - 3;
$largeHeading: $baseFontSize + 10;