@import url(https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);
@import "vars";
body {
    background: $gray;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: $baseFontSize;
}
.text-purple { color: $purple; }
.text-green { color: $green; }
.text-blue { color: $blue; }
.text-pink { color: $pink; }
.text-yellow { color: $yellow; }
header.main {
    margin: 0 0 30px;
    text-align: center;
    img.logo {
        display: block;
        margin: 0 auto 15px;
        min-width: 200px;
        width: 15vw;
    }
}
section {
    background: $white;
    border-radius: 3px;
    margin: 0 auto 30px;
    padding: 15px;
    width: 80%;
}
.battle-zone {
    padding: 0 15px 45px;
    .weapons {
        margin-top: 15px;
        .input-group {
            display: block;
            float: left;
            height: 100%;
            padding: 0 15px;
            position: relative;
            width: 20%;
            img {
                border-radius: 1000px;
                display: block;
                width: 100%;
                &.active {
                    box-shadow: 0 0 3px 2px $blue;
                }
            }
            input {
                display: none;
            }
            label {
                cursor: pointer;
                display: block;
                height: 100%;
                left: 0;
                padding-top: 105%;
                position: absolute;
                text-align: center;
                top: 0;
                width: 100%;
            }
        }
    }
    button[type=submit] {
        display: none;
        margin-bottom: -30px;
        margin-top: 70px;
    }
}